nav ul {
   list-style-type: none;
   margin: 0;
   padding: 16px;
   overflow: hidden;
   background-color: #333333;

}

nav li {
   float: left;

}

nav li a {
   display: inline;
   color: white;
   text-align: center;
   padding: 16px;
   text-decoration: none;
   margin-right: 40px;
}

nav li a:hover {
   background-color: #111111;
}

a:link {
 font-weight: bold;
 text-decoration: none;
 color: #B7A5DF;
 }
a:visited {
 font-weight: bold;
 text-decoration: none;
 color: #D4CDDC;
 }
a:hover, a:focus, a:active {
 text-decoration: underline;
 color: #9685BA;
 }
body{
  background-color: #4ad;
  background-image: url(assets/stone_texture.jpg);
}
main{
 /* backgroundcolor: #333; */
  clear: both;
  width: 700px;
  height: 10px;
  margin: 0 auto;

}
nav{
  border-bottom: solid pink 3px;
}
#content_area{
  border-top: solid green 3px;
  background-color: red;
  height: 900px;
}
#salmon_banner{
  background-color: blue;
  haight: 500px;
  width: 600px;
}
